.skills-academy-services-wrapper {
  margin-top: 100px;
}

.skills-academy-services-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: #192430;

  gap: 20px;
}

.skills-academy-services-right-section {
  width: 70%;
}

.skills-academy-services-nav-section {
  width: 240px;
  height: 700px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.skills-academy-services-nav-item {
  cursor: pointer;
  border-radius: 32px;
  color: #2d3748;
  background: #eff2f5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 56px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.active-skills {
  background: #F9B934;
  color: #192430;
}

.skills-academy-services-nav-item-long {
  padding-right: 28px;
}

.skills-academy-services-right-section-child {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
}

.skills-academy-services-right-section-child-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skills-academy-services-right-section-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 576px;
}

.skills-academy-services-right-section-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skills-academy-services-right-section-card {
  width: 280px;
  height: 120px;
  display: flex;
  border-radius: 16px;
  border: 2px solid #b2b9c8;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-sizing: border-box;
  gap: 27px;
}

.skills-academy-services-right-section-card img {
  width: 20px;
  height: 14px;
}

.skills-academy-services-right-section-card p {
  width: 166px;
}

.skills-academy-services-right-section-btn {
  border-radius: 28px;
  width: 184px;
  height: 56px;
  flex-shrink: 0;
  background: #f9b934;
  color: #222b38;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  margin-top: 32px;
}

.skills-academy-services-section-space {
  height: 230px;
}

.skills-academy-services-navigation-mobile {
  display: none;
}

@media screen and (max-width: 1300px) {

  .skills-academy-services-container {
    display: flex;
    width: 97%;

  }

}


@media screen and (max-width: 900px) {
  .skills-academy-services-navigation-mobile {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    gap: 16px;
  }

  .skills-academy-services-nav-item-long {
    padding-right: 12px;
  }

  .skills-academy-services-nav-item {

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: unset;
  }

  .skills-academy-services-nav-item {
    cursor: unset;
    width: 115px;
    height: 40px;
  }

  .skills-academy-services-right-section {
    width: 100%;
  }

  .skills-academy-services-nav-section {
    display: none;
  }

  .skills-academy-services-right-section-child {
    margin-bottom: 80px;
  }
}


@media screen and (max-width: 630px) {




  .skills-academy-services-container {
    width: 90%;
  }

  .skills-academy-services-right-section-child {
    height: auto;

  }

  .skills-academy-services-right-section-cards-container {
    flex-direction: column;
  }

  .skills-academy-services-right-section-card {
    width: 100%;
    height: 88px;
  }

  .skills-academy-services-right-section-btn {
    width: 100%;

  }
}