.unreveal-wrapper {
  height: 900px;
  clip-path: url(#myClipPathtwo);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unreveal-wrapper img {
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}