.place-holder {
  background-color: #718096;
  width: 98%;
  height: 900px;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 30px auto;

  /* clip-path: polygon(98px 96px, 212.6px 96px, 265.57px 97.01px, 265.35px 58.89px, 303.44px 60.38px, 303.44px 96.18px, 266.42px 96px, 266px 96px, 265.79px 133.65px, 303.44px 133.65px, 303.44px 258.35px, 265.08px 258.35px, 264.77px 296px, 98px 296px); */

}

.second-contetnt-test {
  background-color: rgb(0, 0, 0);

}

.second-contetnt-test-svg {
  position: absolute;
  transform: translate(-50%, -50%) scale(1)
}


.addheight {
  height: 10vh;
}