.place-holder {
  background-color: #718096;
  width: 98%;
  height: 98vh;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 30px auto;

}

.second-contetnt-test {
  background-color: rgb(0, 0, 0);

}

.second-contetnt-test-svg {
  position: absolute;
  transform: translate(-50%, -50%) scale(1)
}


.addheight {
  height: 10vh;
}