.unreveal-wrapper {
  height: 900px;
  clip-path: url(#myClipPathtwo);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.unreveal-wrapper img {
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}


.unreveal-top-wrapper {
  overflow: hidden;
  position: relative;
}

.clipped-road {
  display: none;
}


.unreveal-bottom-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  color: #2D3748;
  text-align: center;
  opacity: 0;
}

.unreveal-bottom-text-container h1 {

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;

}

.unreveal-text-gray {
  margin-top: -75px;
  opacity: .4;
}


@media screen and (max-width: 970px) {
  .unreveal-bottom-text-container {
    max-width: 336px;
  }

  .unreveal-bottom-text-container h1 {

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }

  .unreveal-text-gray {
    margin-top: -92px;
  }

}


@media screen and (max-width: 900px) {

  .unreveal-wrapper {
    clip-path: none;
    height: auto;
    display: none;
  }

  .unreveal-top-wrapper {
    height: 800PX;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  .clipped-road {
    display: block;
    width: 201.097px;
    height: 196.076px;
  }

  .road-image {
    display: none;
  }

  .unreveal-bottom-text-container {
    position: static;
    transform: none;
    color: #2D3748;
    text-align: center;

    opacity: 1 !important;
  }



}