.talent-operations-faq-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 600px;
}

.talent-operations-faq-container {
  width: 80%;
  margin: 0 auto;
  color: #222B38;
  display: flex;
  justify-content: space-between;
}

.talent-operations-faq-title {
  max-width: 416px;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  /* 160% */
}

.talent-operations-faq-section-container {
  width: 55%;
}

.row-title {

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

}

.row-content-text {

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
}

.talent-operations-faq-row {
  border-bottom: 2px solid #B2B9C8 !important;
}

.collapsing-logo,
.expanding-logo {
  transform-origin: center center;
  /* You can also use the following shorthand:
  transform-origin: 50% 50%;
  */
}


.icon-wrapper {
  transform: none !important;
}




@media screen and (max-width: 1000px) {
  .talent-operations-faq-wrapper {
    height: 100%;
  }

  .talent-operations-faq-container {

    flex-direction: column;

  }

  .talent-operations-faq-section-container {
    width: 100%;
  }



}