/* cloud-data cards section */

.cloud-data-cards-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  color: #192430;
  margin-top: 40px;
}

.cloud-data-cards-container {

  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cloud-data-card {
  max-width: 416px;
  width: 30%;
  height: 500px;
  border: 1px #718096 solid;
  border-radius: 24px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 477px;
}

.cloud-data-card-header {
  margin-top: 32px;
  width: 100px;
  color: #FFF;
  padding: 6px 0px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background: #2d3748;
  border-radius: 24px;
  margin-bottom: 22px;
}

.cloud-data-card-title {

  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  height: 70px;

  line-height: 40px;
}

.cloud-data-card-paragraph {
  color: #192430;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}



@media screen and (max-width:1400px) {

  .cloud-data-card-paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width:1300px) {


  .cloud-data-cards-container {
    width: 90%;

  }

  .cloud-data-card {
    width: 100%;
    max-width: 362px;
    min-height: 410px;
  }

  .cloud-data-card-title {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
  }

  .cloud-data-card-paragraph {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .cloud-data-image {
    border-radius: 24px;
    max-width: 100%;
    height: 385px;
    order: -2;
    object-fit: cover;
    gap: 20px;
  }

  .cloud-data-image-text-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cloud-data-image-text-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
  }

  .cloud-data-card-paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .cloud-data-image-text {
    max-width: 500px;
  }
}


@media screen and (max-width: 1000px) {
  .cloud-data-cards-container {
    flex-direction: column;
    gap: 20px;
  }


}