.banner-container {
  width: 80%;
  background-color: #222B38;
  height: 270px;

  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* gap: 50px; */
  padding: 0 20px;
  position: relative;
  top: 250px;

}


.banner-left-section {
  /* margin-left: 40px; */
  /* margin-right: 20px; */
  max-width: 218px;
  font-size: 20px;
  line-height: 32px;
  transition: 0.5s;
  font-weight: 500;

}

.banner-middle-section p {
  z-index: 2;
  position: relative;
}

.banner-middle-section-header {
  color: #F9B934;
  font-size: 24px;
  transition: 0.5s;
}

.middle-section-background {
  width: 820px;
  height: 820px;

  background-color: #ffffff;
  top: 1px;
  transition: 0.5s;
  left: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  position: absolute;
  z-index: 1;

}

.banner-middle-section {
  transition: 0.5s;
  width: 820px;
  height: 100%;
  color: #222B38;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-middle-section p {
  max-width: 614px;
  font-weight: 600;
  line-height: 40px;
  font-size: 27px;
  transition: 0.5s;

}

.banner-right-section {
  display: flex;

  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* right: 40px; */
  transition: 0.5s;
  z-index: 2;
  /* margin-left: 20px; */
}

.banner-right-section img {
  width: 70px;
  transition: 0.5s;
}


.banner-container:hover .middle-section-background {


  background-color: #F9B934;
  transform-origin: 50% 50%;
}


.banner-container:hover .banner-middle-section p,
.banner-container:hover .banner-middle-section span {
  color: #222B38;
}





.middle-section-background-one,
.middle-section-background-two {
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100px;
  position: absolute;
  transition: 0.5s;
  z-index: 1;
}

.middle-section-background-two {
  top: unset;
  left: unset;
  right: 0;
  bottom: 0;

}

.banner-container:hover .middle-section-background-one {

  transform: translateX(-100%);
  background-color: #F9B934;

}

.banner-container:hover .middle-section-background-two {
  transform: translateX(100%);
  background-color: #F9B934;


}


.banner-container:hover .banner-star {
  background-color: #A62551;
}


.banner-container:hover .banner-cloud {
  background-color: #176B87;
}

.banner-container:hover .banner-light {
  background-color: #5E1675;
}



@media screen and (max-width:1800px) {
  .banner-middle-section {
    width: 700px;
  }

  .middle-section-background {
    width: 700px;

  }

  .banner-middle-section p {
    max-width: 544px;
    font-weight: 600;
    font-size: 25px;
    line-height: normal;

  }
}


@media screen and (max-width:1650px) {

  .banner-middle-section p {
    max-width: 484px;
    font-weight: 600;
    font-size: 23px;
    line-height: normal;

  }


  .banner-right-section img {
    width: 60px;

  }


  .banner-right-section {}

  .banner-left-section {
    max-width: 190px;
    font-size: 18px;
    line-height: 28px;
    transition: 0.5s;
    font-weight: 500;

  }



}

@media screen and (max-width:1600px) {
  .middle-section-background {
    width: 500px;
    height: 500px;
  }

  .banner-middle-section {
    width: 500px;

  }

  .banner-middle-section p {
    max-width: 440px;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;

  }
}



@media screen and (max-width:1450px) {






  .banner-left-section {
    max-width: 170px;
    font-size: 16px;
    line-height: 26px;
    transition: 0.5s;
    font-weight: 500;
    margin-left: -50px;
  }

  .banner-middle-section {
    margin-left: -50px;
  }

  .banner-right-section {}
}


@media screen and (max-width:1250px) {

  .banner-middle-section p {
    max-width: 400px;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;

  }

  .middle-section-background {

    width: 460px;
    height: 460px;
  }

  .banner-middle-section {
    width: 460px;
  }




  .banner-right-section img {
    width: 50px;
  }
}


@media screen and (max-width:1140px) {
  .banner-container {
    width: 95%;
  }

  .banner-middle-section p {
    max-width: 300px;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;

  }

  .middle-section-background {

    width: 400px;
    height: 400px;
  }

  .banner-middle-section {
    width: 400px;
  }




  .banner-right-section img {
    width: 40px;
  }
}

@media screen and (max-width:990px) {

  .banner-middle-section p {
    max-width: 250px;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;

  }

  .middle-section-background {
    width: 300px;
    height: 300px;
  }

  .banner-middle-section {
    width: 300px;
  }




  .banner-right-section img {
    width: 35px;
  }

  .banner-left-section {
    max-width: 150px;
    font-size: 14px;
    line-height: 24px;
    transition: 0.5s;
    font-weight: 500;
    margin-left: 5px;

  }


}

@media screen and (max-width:900px) {
  .banner-container {
    position: static;
  }

  .banner-left-section {
    margin-left: -60px;
  }

}

@media screen and (max-width:790px) {

  .banner-container {
    flex-direction: column;
    height: 1100px;
    gap: 10px;
    padding: 0;
    position: static;
  }



  .banner-right-section img {
    width: unset;
  }

  .banner-left-section {
    margin: 0;
    max-width: 218px;
    font-size: 20px;
    line-height: 32px;
    transition: 0.5s;
    font-weight: 500;
    margin-top: 30px;

  }

  .banner-middle-section p {
    max-width: 354px;
    font-weight: 600;
    line-height: 40px;
    font-size: 25px;
    transition: 0.5s;

  }

  .middle-section-background {
    width: 100%;

  }

  .banner-middle-section {

    height: unset;
  }

  .banner-middle-section {
    width: 100%;
    margin: unset;
  }

  .middle-section-background-one {
    top: unset;
    left: 0;

    top: 0;
  }

  .middle-section-background-two {
    top: unset;
    left: unset;
    right: 0;
    bottom: 0;

  }

  .banner-container:hover .middle-section-background-one {

    transform: translateY(-100%);
    background-color: #F9B934;

  }

  .banner-container:hover .middle-section-background-two {
    transform: translateY(100%);
    background-color: #F9B934;

    .banner-right-section {
      margin: 0;
      margin-bottom: 30px;
      flex-direction: row;

    }

    .banner-container:hover .banner-left-section {

      transform: translateY(-10px);
    }

    .banner-container:hover .banner-right-section {

      transform: translateY(10px);
    }


  }

  @media screen and (max-width: 450px) {
    .banner-container {
      width: 90%;

      height: 1000px;

      margin: 20px auto;

      padding: 0 10px;
    }

    .banner-middle-section p {
      max-width: 260px;
      font-size: 5vw;
      line-height: 22px;
    }



    .middle-section-background {
      width: 550px;
      height: 550px;
    }





    .banner-left-section {
      max-width: 180px;
      font-size: 16px;
      line-height: 22px;
    }
  }