.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #222B38;
}


.footer-container {
  border-radius: 61px;
  background: #EFF2F5;
  width: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 23px;

}

.footer-top-content {
  margin: 0;


}

.footer-logo-container {

  margin: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin-top: 77px;
  height: 100%;
}


.footer-line {
  height: 1px;
  width: 100%;
  background-color: #b2b9c85c;
  margin-top: 92px;

}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.footer-top-content {
  display: flex;
  justify-content: space-between;

}

.footer-top-item {
  width: 217px;


}

.footer-logo-container {
  width: 199px;
}

.footer-top-item-title {
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  margin-bottom: 10px;
}

.footer-top-item-option {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;

  line-height: normal;
}

.footer-top-item-option:hover {
  text-decoration: underline;

  cursor: pointer;
}

.footer-top-item-tech,
.footer-top-item {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
}

.footer-top-item-option {
  margin-top: 10px;

}

.footer-top-item-about-contact {
  margin-left: 20px;
}

@media screen and (max-width: 1080px) {
  .footer-top-item-about-contact {
    margin-left: 0px;
  }

  .footer-logo-container {
    align-self: center;
    margin-bottom: 0px;
  }

  .footer-content {

    width: 100%;
  }

  .footer-top-content {
    gap: 48px;
    width: 90%;
    margin-top: 0px;
    margin: 0 auto;
  }

  .footer-line {
    margin-top: 55px;
  }

  .footer-container,
  .footer-content,
  .footer-bottom-content,
  .footer-top-content,
  .footer-top-item {
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: flex-start;
  }


  .footer-top-item-about-contact {
    order: 1 !important;
  }

  .footer-bottom-content {
    align-items: center;
  }

  .footer-line {
    width: 90%;
    margin: 50px auto 0 auto;
  }
}