.contact-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us-container {
  border-radius: 40px;
  background: #222b38;

  width: 98%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 138px;
}

.contact-us-text-section {
  width: 445px;
  margin-top: 183px;
}

.contact-us-form-section {
  margin-top: 183px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  width: 840px;
}

.contact-us-form-section input,
.contact-us-form-section textarea {
  height: 56px;
  border-radius: 28px;
  width: 400px;
  border: none;
  background: #181f28;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  text-indent: 24px;
}

.form-textarea {
  width: 100%;
}

.contact-us-form-section textarea {
  height: 165px;
  flex-basis: 1;
  width: 100%;
  resize: none;
}

.contact-us-form-section textarea:focus,
.contact-us-form-section input:focus {
  outline: none;
}

.contact-us-input-elements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-us-form-section label {
  margin-left: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-us-title {
  color: #f9b934;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.contact-us-sub-title {
  color: #fff;
  font-family: Outfit;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}

.contact-us-button {
  width: 240px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #eff2f5;
  border: none;
  color: #2d3748;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: flex-end;
}

.contact-us-button-arrow {
  background-color: #222b38;
  width: 52px;
  height: 52px;
  border-radius: 52px;
  margin-right: -40px;
}

.contact-us-button p {
  font-size: 16px;
}

.contact-us-button-arrow img {
  margin-top: 16px;
}

@media screen and (max-width: 1400px) {
  .contact-us-form-section {
    width: 60%;
  }

  .contact-us-form-section input {
    width: 350px;
  }

  .form-textarea {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .contact-us-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-us-text-section {
    margin-left: 27px;
    margin-top: 66px;
  }

  .contact-us-form-section {
    width: 90%;
    margin-top: 47px;
    margin-left: 27px;
  }

  .contact-us-form-section input {
    width: 450px;
  }
}

@media screen and (max-width: 1080px) {
  .contact-us-form-section {
    width: 450px;
  }

  .contact-us-form-section textarea {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .contact-us-text-section {
    width: 336px;
  }

  .contact-us-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contact-us-sub-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media screen and (max-width: 600px) {

  .contact-us-form-section textarea,
  .contact-us-form-section input {
    width: 100%;
  }

  .contact-us-form-section {
    width: 90%;
    margin: 47px auto;
  }

  .form-group {
    width: 100%;
  }
}