:root {
  --progress: 0;
}

.above-the-fold-container {

  display: flex;
  /* align-items: center; */
  /* justify-content: end; */
  margin: 0 auto;
  overflow-y: hidden;

  box-sizing: border-box;
  gap: 0px;
  position: relative;
  height: 100vh;

  /* min-height: 800px; */
  color: #192430;
}

.above-the-fold-section {
  display: flex;
  align-items: center;
  gap: 5%;

  position: relative;


  height: 100%;
  box-sizing: border-box;

  /* overflow: hidden; */

}

.above-the-fold-right-section {
  margin-top: -100px;

}




.above-the-fold-main-text {

  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 717px;
  margin-bottom: 24px;
}


.above-the-fold-main-text-bold-one {
  color: #A62551;
}

.above-the-fold-main-text-bold-two {
  color: #5E1675;
}

.above-the-fold-main-text-bold-three {
  color: #176B87;
}

.above-the-fold-sub-text {
  margin-top: 0;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.above-the-fold-buttons-container {
  display: flex;
  gap: 16px;
}

.lets-talk-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.above-the-fold-button {
  margin-top: 0;
  width: 184px;
  height: 56px;
  flex-shrink: 0;
  background-color: #111720;
  border: none;
  border-radius: 28px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.above-the-fold-section-navigation {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}

.above-the-fold-section-navigation * {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

.above-the-fold-section-navigation-child-selected {
  font-weight: 600;
  text-wrap: nowrap;
}

.above-the-fold-section-navigation-child {
  width: 192px;
  text-wrap: nowrap;
}

.above-the-fold-section-navigation-child-line-disabled {
  position: relative;
  height: 4px;
  background-color: rgba(25, 36, 48, 0.2);
  ;
  border-radius: 5px;
}

.above-the-fold-section-navigation-child-line {
  position: relative;
  height: 4px;
  background-color: rgba(25, 36, 48, 0.2);
  ;
  border-radius: 5px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress);
    background-color: #A62551;
    border-radius: 5px;
  }
}

.navigation-line-purple {
  background-color: rgba(25, 36, 48, 0.2);

  &:before {
    background-color: #5E1675;
  }
}

.navigation-line-blue {
  background-color: rgba(25, 36, 48, 0.2);

  &:before {
    background-color: #176B87;
  }
}


.above-the-fold-section-navigation-child-line-active &:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress);
  /* Use the global variable */

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 5px;
}

.image-gradiant-effect {
  display: none;
}


.above-the-fold-squares-two {
  width: 200px;
  bottom: 0;

}

.above-the-fold-squares {
  position: absolute;
}

.above-the-fold-image-squares-container {
  position: relative;
}

.above-the-fold-squares-two {
  position: absolute;

  bottom: 0;
  right: 0;
}

.above-the-fold-squares-three {
  position: absolute;

  bottom: 0;
  right: 0;
  margin-right: -100px;
}


.above-the-fold-gray-image {
  position: relative;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.above-the-fold-mobile-squares {
  width: 127px;
  /* display: none; */
  position: absolute;
  bottom: 318px;
  z-index: 1;
  right: 0;
  display: none;
}

.above-the-fold-squares-one {
  width: 300px;
  left: 0;
  top: 40%;
}

@media screen and (max-width: 1750px) {
  .above-the-fold-container {
    height: 700px;
  }

  .above-the-fold-gray-image {
    width: 40%;

  }

  .above-the-fold-main-image {
    width: 100%;

  }


  .above-the-fold-right-section {
    margin-top: 40px;
  }

  .above-the-fold-main-text {
    font-size: 48px;
    width: 640px;
    margin-top: 80px;
  }

  .above-the-fold-sub-text {
    font-size: 16px;
  }

  .above-the-fold-button {
    width: 134px;
    height: 56px;
    font-size: 16px;
  }

  .above-the-fold-section-navigation {
    margin-top: 60px;
    gap: 1px;
  }

  .above-the-fold-section-navigation-child p {
    font-size: 16px;
  }

  .above-the-fold-section-navigation-child-line,
  .above-the-fold-section-navigation-child-line-disabled {
    width: 160px;
  }

  .above-the-fold-section {
    gap: 14%;
  }
}

@media screen and (max-width: 1600px) {


  .above-the-fold-squares {
    width: 150px;
  }

  .above-the-fold-squares-one {
    width: 200px;
  }

  .above-the-fold-squares-three {
    margin: unset;

    rotate: 180deg;
    margin-right: -5px;
  }

  .above-the-fold-section {
    gap: 60px;

  }

  .above-the-fold-main-text {
    font-size: 48px;
    width: 640px;
    margin-top: 80px;
  }

  .above-the-fold-sub-text {
    font-size: 16px;
  }

  .above-the-fold-gray-image {
    height: 100%;


  }

  .above-the-fold-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%100%;

  }

}

/* @media screen and (max-width: 1450px) {
  .above-the-fold-section img {
    width: 50%;
  }

  .above-the-fold-section {
    gap: 6%;
  }

} */

@media screen and (max-width: 1350px) {

  /* .above-the-fold-right-section {
    margin-left: 60px;
  }


  .above-the-fold-squares {
    display: none !important;
  } */

  .above-the-fold-gray-image {
    height: 100%;
  }

  .above-the-fold-main-image {
    width: 100%;
    object-fit: cover;

  }

  .above-the-fold-main-image {

    object-position: 20%100%;

  }

}

@media screen and (max-width: 900px) {
  .above-the-fold-squares {
    display: none;
  }
}


@media screen and (max-width: 768px) {

  .above-the-fold-container {


    min-height: 800px;

  }

  .above-the-fold-mobile-squares {
    display: block;
  }

  .above-the-fold-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    position: relative;


    height: 100%;


    /* overflow: hidden; */

  }

  .above-the-fold-gray-image {

    width: 100%;
    position: absolute;
  }

  .above-the-fold-container {

    overflow: hidden;
    justify-content: unset;
    align-items: unset;


    position: relative;
  }

  .above-the-fold-section {
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .above-the-fold-section {
    display: flex;

  }

  .above-the-fold-right-section {
    margin-top: 150px;
    margin-left: 4vw;
    z-index: 1;
    width: 100%;
  }

  .above-the-fold-main-image {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 418px;
    object-fit: cover;
    object-position: 100% top;
    top: 0;

  }

  .image-gradiant-effect {
    display: block;
    position: absolute;
    width: 100%;
    height: 418px;
    background: linear-gradient(180deg, #11172000 0%, #111720 100%);
    opacity: .8;
    z-index: 0;
  }

  .above-the-fold-section {

    height: 100% !important;
  }

  .above-the-fold-section-navigation {
    position: absolute;
    left: 50%;
    width: 596px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .above-the-fold-section-navigation>div {
    width: 192px;
  }

  .above-the-fold-main-text {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 336px;
  }

  .section-one-talent {
    order: 2;
  }

  .section-one-skills {
    order: 3;
  }

  .section-one-tech {
    order: 1;
  }

  .section-three-talent {
    order: 1;

  }

  .section-three-tech {
    order: 2;

  }

  .section-two-tech {
    order: 1;
  }

  .section-three-tech {
    order: 1;

  }

  .section-three-talent {
    order: 2;
  }

  .above-the-fold-sub-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    max-width: 270px;
    margin-top: 40px;
  }

  .lets-talk-button {
    display: none;
  }

  .above-the-fold-buttons-container {
    position: relative;
    width: calc(100% - 3vw);

  }

  .above-the-fold-button {
    width: 98%;
  }

  .above-the-fold-section-navigation-child-line,
  .above-the-fold-section-navigation-child-line-disabled {
    width: 190px;
  }
}

@media screen and (max-width: 400px) {
  .above-the-fold-section {
    margin: 0;
  }

  .above-the-fold-right-section {
    margin-left: 2vw;
  }

  .above-the-fold-button {
    width: 90%;
  }

  .above-the-fold-sub-text {
    width: 100%;
    height: 100px;
  }

  .above-the-fold-main-text {
    width: 318px;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .above-the-fold-button {
    width: 70%;
    margin-top: 0px;
  }

  .above-the-fold-main-text {
    font-size: 34px;
    margin-bottom: 0px;
  }

  .above-the-fold-sub-text {
    font-size: 15px;

    margin-top: 0px;
    margin-bottom: 0px;
  }
}