.tech-collaboration-above-the-fold-wrapper {
  height: 650px;
  overflow: hidden;
  margin-top: 10px;
}

.tech-collaboration-above-the-fold-container {
  width: 98vw;
  height: 90%;
  background-color: #2d3748;
  display: flex;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.tech-collaboration-above-the-fold-left-section-wrapper {
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
}

.tech-collaboration-above-the-fold-left-section {
  width: 640px;
  z-index: 3;
}

.tech-collaboration-above-the-fold-main-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.tech-collaboration-above-the-fold-main-title strong {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tech-collaboration-above-the-fold-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tech-collaboration-above-the-fold-button-container button {
  width: 184px;
  height: 56px;
  flex-shrink: 0;
  outline: none;
  border-radius: 56px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tech-collaboration-learn-more-button {
  background-color: white;
  color: #222b38;
  border: none;
}

.tech-collaboration-get-in-contact-button {
  background-color: transparent;
  border: 2px solid white;
}

.tech-collaboration-above-the-fold-img {
  position: absolute;
  right: 10%;
  z-index: 1;
}

@media screen and (max-width: 1700px) {
  .tech-collaboration-above-the-fold-left-section-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1500px) {
  .tech-collaboration-above-the-fold-left-section-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .tech-collaboration-above-the-fold-img {
    /* width: 50%;
    bottom: 0; */
  }
}

@media screen and (max-width: 1200px) {
  .tech-collaboration-above-the-fold-left-section {
    width: 386px;
  }

  .tech-collaboration-above-the-fold-main-title {
    font-size: 44px;
  }
}

@media screen and (max-width: 1000px) {
  .tech-collaboration-cards-container {
    flex-direction: column;
    gap: 20px;
  }

  .tech-collaboration-image-parent {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 362px;
  }

  .tech-collaboration-above-the-fold-img {
    right: -15%;
  }
}

@media screen and (max-width: 700px) {
  .tech-collaboration-above-the-fold-main-title {
    font-size: 36px;
  }

  .tech-collaboration-get-in-contact-button {
    display: none;
  }

  .tech-collaboration-above-the-fold-left-section {
    width: 100%;
  }

  .tech-collaboration-above-the-fold-button-container .tech-collaboration-learn-more-button {
    width: 100%;
  }


  .tech-collaboration-above-the-fold-wrapper {
    height: auto;
  }

  .tech-collaboration-above-the-fold-container {
    padding-top: 100px;
    padding-bottom: 30px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .tech-collaboration-above-the-fold-img {
    position: relative;
    order: -1;
    width: 50%;
    right: 25%;

  }

  .tech-collaboration-above-the-fold-left-section {
    order: 2;
  }
}