.scroll-overlay-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}


.scroll-overlay-container {
  width: 100%;
}

.scroll-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  bottom: 50px;
  position: absolute;
  width: 100%;
  animation: blink 2s infinite;

}

.scroll-overlay-text {
  color: #192430;
  text-align: center;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 4.2px;
}

.scroll-overlay-line {
  width: 90px;
  height: 1px;
  background-color: #192430;
  margin: 0 auto;
  rotate: 90deg;

}

@keyframes blink {

  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

.hidden {
  opacity: 0;
}




@media screen and (max-width: 1550px) {

  .scroll-overlay-line {
    width: 70px;
  }

  .scroll-overlay-text {
    font-size: 12px;
  }

}




@media screen and (max-width: 1300px) {
  .scroll-overlay-wrapper {
    display: none;
  }
}