.talent-digital-services-wrapper {
  margin-top: 100px;
}

.talent-digital-services-container {

  width: 80%;
  margin: 0 auto;

}

.talent-digital-services-main-title {
  color: #192430;
  margin-bottom: -40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  max-width: 1200px;
}


.talent-digital-services-content {
  color: #192430;
  display: flex;
  gap: 20px;
}

.talent-digital-services-right-section {
  width: 80%;
}

.talent-digital-services-nav-section {
  width: 240px;
  height: 700px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.talent-digital-services-nav-item {
  cursor: pointer;
  border-radius: 32px;
  color: #2d3748;
  background: #eff2f5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 56px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.active-talent {
  background: #A62551;
  color: white;
}

.talent-digital-services-nav-item-long {
  padding-right: 28px;
}

.talent-digital-services-right-section-child {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;


}

.talent-digital-services-right-section-child-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.talent-digital-services-right-section-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 576px;
}

.talent-digital-services-right-section-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.talent-digital-services-right-section-card {
  width: 280px;
  height: 120px;
  display: flex;
  border-radius: 16px;
  border: 2px solid #b2b9c8;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-sizing: border-box;
  gap: 27px;
}

.talent-digital-services-right-section-card img {
  width: 20px;
  height: 14px;
}

.talent-digital-services-right-section-card p {
  width: 166px;
}

.talent-digital-services-right-section-btn {
  border-radius: 28px;
  width: 184px;
  height: 56px;
  flex-shrink: 0;
  background: #192430;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  margin-top: 32px;
}

.talent-digital-services-line {
  width: 100%;
  height: 1px;
  background: #00000017;
  margin-top: 80px;

}



@media screen and (max-width: 1400px) {
  .talent-digital-services-container {
    width: 97%;
  }


}



@media screen and (max-width: 900px) {

  .talent-digital-services-main-title {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-bottom: -100px;
    margin-top: 40px;
  }

  .talent-digital-services-right-section-child {
    padding-top: 0px;
  }

  .talent-digital-services-content {
    padding-top: 150px;
  }



  .talent-digital-services-wrapper {
    margin-top: 0px;
  }



  .talent-digital-services-nav-item-long {
    padding-right: 12px;
  }

  .talent-digital-services-nav-item {

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: unset;
  }

  .talent-digital-services-nav-item {
    cursor: unset;
    width: 115px;
    height: 40px;
  }

  .talent-digital-services-right-section {
    width: 100%;
  }

  .talent-digital-services-nav-section {
    display: none;
  }

  .talent-digital-services-right-section-child {
    margin-bottom: 20px;
  }

  .talent-digital-services-line {
    margin-top: 40px;
  }
}


@media screen and (max-width: 630px) {




  .talent-digital-services-container {
    width: 90%;
  }

  .talent-digital-services-right-section-child {
    height: auto;

  }

  .talent-digital-services-right-section-cards-container {
    flex-direction: column;
  }

  .talent-digital-services-right-section-card {
    width: 100%;
    height: 88px;
  }

  .talent-digital-services-right-section-btn {
    width: 100%;

  }
}