.talent-strategy-lets-talk-section-wrapper {
  margin-top: 200px;
}

.talent-strategy-lets-talk-section-container {
  background: #222b38;
  border-radius: 24px;
  color: white;
  width: 80%;
  margin: 0 auto;
  min-height: 446px;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.talent-strategy-lets-talk-section-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-top: 0;
  /* 160% */
}

.talent-strategy-lets-talk-section-image {
  margin-top: 65px;
}

.talent-strategy-lets-talk-section-subtitle {
  margin-top: 0;
  max-width: 780px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.talent-strategy-lets-talk-section-button {
  width: 240px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #f9b934;
  border: none;
  color: #2d3748;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.talent-strategy-contact-us-button-img {
  background: #222b38;
  width: 52px;
  height: 52px;
  border-radius: 52px;

}

.talent-strategy-contact-us-button-img img {
  margin-top: 16px;
}


@media screen and (max-width:600px) {


  .talent-strategy-lets-talk-section-container {
    width: 97%;

  }

  .talent-strategy-lets-talk-section-title {

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    /* 266.667% */
  }

  .talent-strategy-lets-talk-section-image {
    margin-top: 30px;
  }

  .talent-strategy-lets-talk-section-subtitle {

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
  }

  .talent-strategy-lets-talk-section-button {
    width: 97%;
    display: flex;
    position: relative;


  }

  .talent-strategy-contact-us-button-img {
    position: absolute;
    right: 6px;
  }


  .talent-strategy-lets-talk-section-button p {

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

  }


}