.floating-cards-container {
  position: relative;
  height: 380vh;
  overflow: hidden;
}



.floating-cards-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 40px;
  left: 0;
  color: #192430;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-card {
  height: 400px;
  border-radius: 16px;
  width: 600px;
  z-index: 12;
  position: absolute;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;


}

.floating-card-one {
  background-color: #718096;
  left: 5%;
}


.floating-card-two {
  background-color: #F9B934;
  color: #192430;
  right: 10%;
  top: 460px;

}

.floating-card-three {
  background-color: #2D3748;
  left: 25%;
  top: 980px;
}

.floating-cards-parent {
  position: relative;

}


.spacing {
  height: 100vh;
}

.spacing-two {
  height: 200vh;
}


.floating-card-content {
  transition: transform 0.5s ease-in-out .3s;
  height: 300%;
  position: relative;
  pointer-events: fill;
  top: 0;
  left: 0;

  z-index: 10;

}


.floating-card:hover .floating-card-content {
  transform: translateY(-68%);

}

.floating-card-title {
  position: absolute;
  left: 0;
  top: 300px;

}

.floating-card-second-title {
  position: absolute;
  bottom: 300px;
  left: 0;
}

.floating-card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
}

.floating-cards-background-text {
  font-size: 5vw;
}

.floating-card-second-title-first {



  margin-top: -100px;
  bottom: 160px;
}

.floating-card-content-one,
.floating-card-content-two,
.floating-card-content-three {
  display: flex;
}



.floating-card-content-first {
  height: 33%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}


.floating-card-content-first>p {
  margin: 0;


}

.floating-card-content-title {
  font-size: 32px;

  padding-left: 30px;
  padding-right: 30px;
}


.floating-card-content-second {
  height: 34%;

}

.floating-card-content-third {
  height: 33%;
  display: flex;
  flex-direction: column;


}





.floating-card-content-third-text {
  font-size: 20px;
  font-weight: 400;
  margin: 0;

}

.floating-card-content-third-text-first {
  margin-top: 50px;
  margin-bottom: 20px;


}

.floating-card-content-third-text-second {
  margin-bottom: 20px;
}

.floating-card-content-third-text-third {
  margin-bottom: 40px;
}

.floating-card-link {

  position: absolute;
  cursor: pointer;
  width: 120px;
  height: 40px;
  bottom: 0;
  right: 0;
}

.floating-card-link:hover .floating-card-link-line {
  width: 100%;
}

.floating-card-link-line {
  transition: .5s cubic-bezier(0.19, .4, 0.5, 1);
  height: 2px;
  background-color: #fff;
  width: 0%;
}


@media screen and (max-width: 900px) {

  .floating-cards-background-text {
    font-size: 10vw;
  }



  .floating-card-link {


    bottom: -30px;

  }

  .floating-card-content-third-text-third {
    margin-bottom: 20px;
  }


  .floating-card-content-title {


    padding-left: 10px;

    padding-right: 10px;
  }

  .floating-card {

    width: 300px;
    height: 450px;
  }

  .floating-card-background-first,
  .floating-card-background-second,
  .floating-card-background-third {

    width: 250%;
    left: -50%;
  }

  .floating-card p {
    font-size: 18px;
  }

  .floating-card-content-third-text-first {
    margin-top: 20px;
  }

  .floating-card-three {
    left: 10%;
  }


}


@media screen and (max-width:350px) {


  .floating-card {
    width: 250px;
  }

  .floating-card p {
    font-size: 16px;
  }

}