.reveal-section-wrapper {
  width: 100%;
  overflow: hidden;

}

.reveal-section {
  position: relative;
  height: 100vh;
  clip-path: url(#myClipPath);
  background-image: url(./bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222B38;
  overflow: visible;
  border-radius: 26px;

}



.reveal-section {
  background-position: 50% center;
}

.reveal-section-content {
  width: 68%;
  margin: 0 auto;
}

.reveal-section-big-text {
  color: #ffffff;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  text-wrap: nowrap;
  padding-top: 60px;
  /* 83.333% */
}

.reveal-section-big-text-first {

  color: #F9B934;
}

.reveal-section-big-text-second {
  margin-left: 7%;
}

.reveal-section-big-text-third {
  margin-left: 10%;
}

.reveal-section-big-text-fourth {
  margin-left: 16%;
}


.hide {
  opacity: 0;
  pointer-events: none;
}




.reveal-section-sub-text {
  max-width: 546px;
  margin-top: 40px;

}

.reveal-section-sub-text p {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.yellow-line {
  background-color: #F9B934;
  width: 42px;
  border-radius: 8px;
  height: 8px;
}


.reveal-section-sub-text-footer {
  display: flex;
  gap: 28px;
  align-items: center;
  justify-self: center;
  margin-top: 4px;


}

.reveal-section-sub-text-footer p {
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  /* 164.286% */
}

.reveal-section-arrow-down {
  cursor: pointer;
  height: 50px;

}

@media screen and (max-width:1600px) {
  .reveal-section-big-text {
    color: #ffffff;
    font-size: 70px;

  }

  .reveal-section-big-text-fourth {
    margin-bottom: 20px;

  }
}


@media screen and (max-width: 1400px) {
  .reveal-section {
    background-position: 80% center;
  }

  .reveal-section {
    background-position: 90% center;
  }

  .reveal-section-big-text {
    color: #ffffff;
    font-size: 65px;

  }


}

@media screen and (max-width: 1300px) {
  .reveal-section-content {
    width: 80%;

  }


}

@media screen and (max-width:900px) {
  .reveal-section-content {
    width: 95%;

  }

  .reveal-section-big-text {
    color: #ffffff;
    font-size: 60px;
    margin-top: 0;
    padding-top: 100px;

  }


  .reveal-section {
    position: relative;
    height: 100vh;
    clip-path: url(#myClipPath);
    background-image: url(./bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;


    overflow: visible;

  }

  .reveal-section-big-text {
    display: block;
  }

  .hide {
    opacity: 1;
    pointer-events: all;
  }



}

@media screen and (max-width: 900px) {
  .reveal-section {
    background-position: 70% center;
    clip-path: unset;
    height: 700px;
    width: 98%;
    margin: 0 auto;
    margin-top: 30px;
    background-position: bottom;

  }

  .reveal-section-big-text {
    font-size: 10vw;
    margin-top: 20px;
  }

  .reveal-section-sub-text {
    max-width: 346px;
    font-size: 16px;
  }

  .reveal-section-sub-text p {
    font-size: 16px;

  }

  .reveal-section-sub-text-footer p {
    text-wrap: nowrap;

  }
}