.reveal-section-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  /* Add this line to center the element horizontally */
}

.reveal-section {
  position: relative;
  height: 110vh;
  clip-path: url(#myClipPath);
  background-image: url(./bg.svg);
  background-repeat: no-repeat;

  background-size: cover;
  background-color: #222B38;
  overflow: visible;
}


.reveal-section {
  background-position: 50% center;
}

@media screen and (max-width: 1400px) {
  .reveal-section {
    background-position: 90% center;

  }
}


@media screen and (max-width: 1400px) {
  .reveal-section {
    background-position: 80% center;
  }
}

@media screen and (max-width: 700px) {
  .reveal-section {
    background-position: 70% center;
  }
}