.header-wrapper {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  /* Use transform: scale(0.9) for scaling */
  width: 78%;
  transform-origin: center center;
  z-index: 1000;
}


.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-leftside {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 599px;

}

.header-background {
  position: absolute;
  z-index: -1;

}



.digital-future-logo {
  position: absolute;
  width: 132px;
  height: 23.633px;
  margin-left: 30px;
  cursor: pointer;
  margin-top: -10px;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 370px;
  justify-content: space-around;
  margin-right: 5px;
  color: #FFF;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.menu-item {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 40px;
  flex-shrink: 0;
  position: relative;

  z-index: 10;
}

/* 
.menu-item-about {
  opacity: 0;
  pointer-events: none;
} */


.menu-item:hover {
  background-color: #161D28;
  cursor: pointer;


}

.menu-item-talent:hover {
  background-color: #A62551;
}

.menu-item-skills:hover {
  background-color: #5E1675;

}

.menu-item-tech:hover {
  background-color: #176B87;

}


.menu-item:hover .sub-menu {
  opacity: 1;
  pointer-events: all;


}


.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}


.sub-menu {
  z-index: 9;

  background-color: #222B38;
  position: absolute;
  top: 56px;
  width: 372px;
  left: 0;
  padding-bottom: 7px;
  flex-shrink: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

}

.menu-active-wrapper {

  width: 500px;
  display: flex;
  height: 400px;
  position: absolute;
  top: 40px;
  opacity: 0;
  pointer-events: none;
}

.menu-item:hover .menu-active-wrapper {
  opacity: 1;
  pointer-events: all;
}

.sub-menu-talent {
  left: -92px;
}

.sub-menu-skills {
  left: -185px;
}

.sub-menu-tech {
  left: -277px;
}


.sub-menu-first-item {
  width: 360px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #A62551;
  margin-top: 7px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.sub-menu-first-item-skills {
  background-color: #5E1675;
  color: white;
}

.sub-menu-first-item-tech {
  background-color: #176B87;
}

.sub-menu-first-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 31px;

}



.sub-menu-first-item-arrow,
.right-facing-arrow {

  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 52px;
  background-color: #222B38;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 21px;
}


.sub-menu-item {
  margin-top: 3px;
  width: 360px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.sub-menu-item img {
  margin-left: 31px;
  margin-right: 10px;
}

.sub-menu-item:hover {
  background-color: #1A222C;
  cursor: pointer;


}


/* header right side */

.header-rightside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.whatsapp-logo-button {
  outline: none;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button {
  font-family: inherit;
  color: #FFF;
  width: 126px;
  height: 56px;
  outline: none;
  border: none;
  border-radius: 28px;
  background: #222B38;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contact-button-mobile {
  background-color: #171f28;
}





/* mobile styles */

.header-menu-mobile {
  display: none;

}

.header-background-mobile {
  display: none;
}


.header-menu-toggle-button {
  display: none;
  font-weight: 500;
  z-index: 2;
  position: absolute;
  left: 250px;
  gap: 8px;
  cursor: pointer;
}




.header-drop-down-menu-toggle-logo {
  transition: transform 0.3s ease-in-out;
}

.header-menu-mobile {
  position: fixed;
  border-radius: 16px;
  background-color: #222B38;
  height: 85vh;
  width: 106%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(150vh);
  min-height: 70vh;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
  will-change: transform;
}

.mobile-menu-content {
  margin-top: 80px;
  width: 95%;
}


.mobile-menu-main-item {
  height: 84px;
  border-radius: 10px;
  background: #222B38;
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;


}

.mobile-menu-main-item p {
  margin-left: 31px;
}

.about-mobile-menu-arrow {
  background-color: white;
}

.mobile-menu-main-item-second {

  background-color: #A62551;
}

.mobile-menu-main-item-third {
  background-color: #5E1675;

}

.mobile-menu-main-item-last {
  background-color: #176B87;
}


.mobile-go-back-arrow {
  width: 52px;
  height: 52px;
  background-color: #1A222C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 52px;
  margin-top: -62px;
}



.mobile-menu-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  flex-shrink: 0;
}

.mobile-menu-bottom button {
  background-color: #1A222C;
}


.language-change-button {
  color: #222B38;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #EFF2F5;
  width: 96px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../assets/language-dropdown.svg);
  background-repeat: no-repeat;
  background-position: 80% center;
  position: absolute;
  top: 17px;
  right: 16px;
  opacity: 0;
  pointer-events: none;
}

.language-change-button:focus {
  outline: none;
}

.language-change-pc {

  width: 60px;
  align-items: center;
  height: 32px;
  line-height: 12px;
  background-size: 20% 20%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  background-position: 80% center;
  top: -32px;
  right: 0;
  text-align: left;
  padding-left: 8px;
  opacity: 0;
  pointer-events: none;
}

.language-change-button option {
  background-color: #EFF2F5;
  color: #222B38;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #EFF2F5;
  width: 96px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 28px;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../assets/language-dropdown.svg);
  background-repeat: no-repeat;
  background-position: 80% center;
  position: absolute;
  top: 17px;
  right: 16px;

}

/* mobile styles */

@media screen and (max-width: 1300px) {
  .header-wrapper {
    width: 90%;
  }

}

@media screen and (max-width: 900px) {
  .header-wrapper {
    width: 90%;
    margin-top: 10px;
    transform: translateX(-50%) scale(1);
  }

  .menu-open {
    display: flex;
    opacity: 1;
    transform: translateY(48vh);
    pointer-events: all;
  }



  .header-menu-toggle-button {
    display: flex;
  }

  .header-container {
    justify-content: center;
  }

  .header-leftside {
    width: 348px;
  }

  .header-rightside {
    display: none;

  }

  .header-menu {
    display: none;
  }


  .header-background {
    display: none;
  }

  .header-background-mobile {
    display: block;
    position: absolute;

  }

  .sub-menu {
    opacity: 1;
    pointer-events: all;
    left: 0 !important;
    top: 100px;
    width: 100%;
    margin-top: 8px;

  }

  .sub-menu-item,
  .sub-menu-first-item {
    width: 95%;
  }
}

@media screen and (max-width: 430px) {


  .header-leftside {

    transform: scale(.9);
    margin-left: -4vw;
  }
}

@media screen and (max-width: 350px) {
  .header-leftside {

    transform: scale(.8);
    margin-left: -6vw;
  }
}