.landing-page-gray {
  background-color: #718096;

  height: 95vh;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  margin: 0 auto;
  overflow: hidden;
}

.landing-page-gray img {
  z-index: 0;
}