.gallery {
  overflow: hidden;

}

.headline {
  width: min-content;
  padding: 0px 24px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #718096;
  color: #FFF;
  font-size: 34px;
  text-wrap: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 125% */
  /* 166.667% */
}

.text {
  margin-top: 32px;

  border-radius: 6px;
  color: #192430;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 32px;

}




.gallery {
  display: flex;

}

.left {

  width: 50%;
}

.detailsWrapper {
  margin: auto;
  width: 80%;

  padding-bottom: 200px;
  padding-top: 400px;
}

.details {
  color: #2D3748;
  height: 400px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h2 {
  color: #2D3748;
}

.right {

  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headline2 {
  background-color: #F9B934;
  color: #2D3748;
}



.headline3 {
  background-color: #2D3748;
}



.flower-test {
  transform: rotate(-70deg);
  width: 70%;
  margin-top: 100px;
}

.some-btn {
  border: none;
  outline: none;
  color: white;
  border-radius: 30px;
  width: 296px;
  height: 48px;
  background: #E4E9EF;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.some-btn p {
  color: #181F28;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.some-btn div {
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.flower-button-container {
  min-width: 630px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


@media screen and (max-width:900px) {

  .right {
    display: none;
  }

}