.talent-strategy-above-the-fold-wrapper {
  height: 750px;
  overflow: hidden;
  margin-top: 10px;
}

.talent-strategy-above-the-fold-container {
  width: 98vw;
  height: 90%;
  background-color: #EFEEEA;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.talent-strategy-above-the-fold-left-section-wrapper {
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 5%;
}

.talent-strategy-above-the-fold-left-section {
  width: 640px;
  z-index: 3;
}

.talent-strategy-above-the-fold-main-title {
  color: #111720;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.talent-strategy-above-the-fold-main-title strong {
  color: #A62551 !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.talent-strategy-above-the-fold-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.talent-strategy-above-the-fold-button-container * {
  width: 184px;
  height: 56px;
  flex-shrink: 0;
  outline: none;
  border-radius: 56px;
  font-size: 18px;
  font-style: normal;
  color: #192430;
  font-weight: 500;
  line-height: normal;
}

.talent-strategy-learn-more-button {
  background-color: #111720;
  color: #ffffff;
  border: none;
}

.talent-strategy-get-in-contact-button {
  background-color: transparent;
  border: 2px solid #192430;
  display: flex;
  align-items: center;
  justify-content: center;
}

.talent-strategy-above-the-fold-img-container {
  position: relative;
}

.talent-strategy-shape {
  position: absolute;
  bottom: 0%;
  left: -100px;
}

.talent-strategy-shape-mobile {
  position: absolute;
  display: none;
}

@media screen and (max-width: 1700px) {
  .talent-strategy-above-the-fold-left-section-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .talent-strategy-above-the-fold-left-section {
    /* border: 1px solid red; */
    margin-left: 10%;
  }
}

@media screen and (max-width: 1650px) {
  .talent-strategy-above-the-fold-img-container {
    width: 50%;
    height: 100%;
  }

  .talent-strategy-above-the-fold-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .talent-strategy-above-the-fold-left-section {
    width: 386px;
  }

  .talent-strategy-above-the-fold-main-title {
    font-size: 44px;
  }
}

@media screen and (max-width: 900px) {
  .talent-strategy-shape {
    top: unset;
    bottom: 0;
  }
}

@media screen and (max-width: 700px) {

  .talent-strategy-shape {
    display: none;
  }

  .talent-strategy-shape-mobile {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -73px;

  }

  .talent-strategy-above-the-fold-container {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
  }

  .talent-strategy-above-the-fold-wrapper {
    height: auto;
  }

  .talent-strategy-above-the-fold-main-title {
    font-size: 36px;
    line-height: normal;
  }

  .talent-strategy-above-the-fold-left-section-wrapper {
    width: 95%;
    margin: 0;
    overflow: unset;
  }

  .talent-strategy-above-the-fold-left-section {
    margin: 0;
    margin-top: 85px;
    width: 100%;
    order: 2;
  }

  .talent-strategy-above-the-fold-button-container {
    /* display: none; */
  }

  .talent-strategy-get-in-contact-button {
    display: none;
  }

  .talent-strategy-learn-more-button {
    width: 100%;
  }

  .talent-strategy-above-the-fold-img-container {
    display: block;
    height: 345px;
    width: 100%;
    order: -1;
  }
}